
<% include ./partials/header %>
<% include ./partials/navbar %>
	<div class="container-fluid" id="part-1" style="margin-top: -20px;">
		<div class="row">
			<div class="col-sm-2 sideBar">
				<% include partials/dashboard %> 
			</div>
			<div class="col-sm-10 mainContent content_left_2">
				<% include partials/content %> 
			</div>
		</div>
	</div>
<% include ./partials/footer %>
