
<% include partials/header %>
<% include partials/navbar %>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<% include partials/dashboard %> 
			</div>
			<div class="col-sm-9">
				<% include partials/content %> 
			</div>
		</div>
	</div>
<% include partials/footer %>
